mixin header-input(data)
  .header-input
    form
      .header-input__row.row
        each input in data.inputs
          .header-input__block(class= 'header-input__block--'+ input.blockClass)
            input(type=input.inputType, id=input.inputId, name=input.inputName, value=input.inputValue)
            label(for=input.labelFor)
              | #{input.labelText}
        .header-input__block.header-input__block--btn.col-md-12
          input.header-input__submit(type='submit', value=data.submitText)