-
  var offers = {
    title: 'What do we offer',
    list: [
      {
        img: 'offers-1.svg',
        text: 'Support 24/7'
      },
      {
        img: 'offers-2.svg',
        text: 'Communicate directly'
      },
      {
        img: 'offers-3.svg',
        text: 'Book online'
      },
      {
        img: 'offers-4.svg',
        text: 'Real guest reviews'
      }
    ]
  };
  var hotels = {
    title: 'Homes guests loves',
    white: 'hotel-arrow.svg',
    black: 'hotel-arrow--hover.svg',
    list: [
      {
        img: 'hotel-01.jpg',
        name: 'Hotel Leopold',
        loc: 'Saint Petersburg, Russia'
      },
      {
        img: 'hotel-02.jpg',
        name: 'Apartment Sunshine',
        loc: 'Santa  Cruz de Tenerife, Spain'
      },
      {
        img: 'hotel-03.jpg',
        name: 'Villa Kunerad',
        loc: 'Vysokie Tatry, Slowakia'
      },
      {
        img: 'hotel-04.jpg',
        name: 'Hostel Friendship',
        loc: 'Berlin, Germany'
      }
    ]
  };

doctype html
head
  meta(charset='UTF-8')
  meta(name='iewport'
    content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap", rel='stylesheet', type='text/css')
  title TripHouse
body
  .offers
    .container
      .offers__title
        h2 #{offers.title}
      .offers__cards
        each item in offers.list
          .offers-card
            .offers-card__img
              img(src=require('../../assets/images/' + item.img).default alt= item.text)
            .offers-card__text #{item.text}
  .hotels
    .container
      .hotels__title
        h2 #{hotels.title}
      .hotels__cards
        each item in hotels.list
          .hotel-card
            a(href="#")
              .hotel-card__img
                img(src=require('../../assets/images/' + item.img).default alt= item.name)
              .hotel-card__name #{item.name}
            .hotel-card__loc #{item.loc}
        .hotels__cards--arrow
          img(class="white" src=require('../../assets/images/' + hotels.white).default alt= hotels.white)
          img(class="black" src=require('../../assets/images/' + hotels.black).default alt= hotels.black)


